.menu__toggle {
  display: flex;
  width: fit-content;
  padding: 0 10px;
  margin-top: 0.5rem;
  z-index: 99999;
  transition: transform 0.2s ease-in;
}

.menu__toggle--open {
  transform: translateX(59vw);
}

.menu__toggle .toggle__btn {
  color: var(--txt-primary);
}

@media screen and (min-width: 600px) {
  .menu__toggle--open {
    transform: translateX(30vw);
  }
}

@media screen and (min-width: 1024px) {
  .menu__toggle {
    display: none;
  }
}
