.single__img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.single__img img {
  border-radius: 8px;
  width: 100%;
}

.single__img .lazy__image {
  width: 100%;
  display: flex;
  align-items: center;
}

.single__img .single__date {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 80, 189);
  padding: 15px;
  width: 60px;
  height: 90px;
}

.single__date .date__day {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #fff;
  font-family: "GoldMan";
}

.single__date .date__yearMonth {
  font-size: x-small;
  word-spacing: 10px;
  font-family: "GoldMan";
}

.single__img .single__trailer {
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: 999;
}

.single__trailer .trailer__icon {
  border-radius: 0;
  border-radius: 0;
  background-color: #2f50bd;
  color: #fff;
}

.single__trailer .trailer__icon:hover {
  background-color: rgba(47, 80, 189, 0.66);
}

@media screen and (min-width: 600px) {
  .single__img {
    width: 450px;
    height: 600px;
    margin-bottom: 0;
  }

  .single__img img {
    width: 80%;
  }


  .single__img .single__trailer {
    right: 20%;
  }
}
