.pagination {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.pagination .prev,
.pagination .next {
  width: 50%;
  display: flex;
}

.pagination .prev {
  justify-content: flex-start;
}

.pagination .next {
  justify-content: flex-end;
}

.pagination .prev .btn,
.pagination .next .btn {
  padding: 15px;
  height: 40px;
  background-color: var(--txt-active);
}

.pagination .prev .btn .MuiChip-label,
.pagination .next .btn .MuiChip-label {
  font-family: "Ubuntu";
}

.pagination .prev .btn:hover,
.pagination .next .btn:hover {
  background-color: var(--txt-inactive);
  color: var(--txt-active);
}

.pagination .prev .btn:hover .MuiChip-deleteIcon,
.pagination .next .btn:hover .MuiChip-deleteIcon {
  color: var(--txt-active);
}

.pagination .btn .MuiChip-avatarColorPrimary {
  background-color: transparent;
}
