.image__slider {
  height: 100%;
}

.image__slider .awssld__container {
  height: 100%;
  padding-bottom: 0;
}

.image__slider .awssld__bullets {
  bottom: 5px;
  z-index: 999;
}

.image__slider .awssld__bullets .awssld__bullets--active {
  background-color: #fff;
  transform: scale(1.4);
}

.image__slider .awssld__bullets button {
  background: #9e9e9e;
}

.image__slider .awssld__controls {
  display: none;
}
