.movie__slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.movie__slider .slider__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider__header .header__title {
  flex: 1;
  color: var(--txt-secondary);
}

.slider__header .header__sliderArrow .sliderArrow__icon {
  color: var(--icon-color);
}

.slider__header .header__sliderArrow .sliderArrow__icon.Mui-disabled {
  color: var(--icon-inactive);
}

.movie__slider .slider__body {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
}

.slider__body .main__slider {
  width: 100%;
}

.slider__body .main__slider .slick-list {
  padding-bottom: 15px;
  padding-top: 15px;
}
