.body {
  display: flex;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  background: var(--bg-primary);
  flex-direction: column;
}

.route__loader {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .body {
    width: 85vw;
  }
}
