.genres__header {
  margin: 15px 0 20px;
}

.genres__header .header__title {
  font-family: "GoldMan";
  font-size: x-large;
  color: var(--txt-secondary);
}

.genres__header .MuiFormLabel-root.Mui-focused {
  color: var(--txt-secondary);
}

.genres__header .radio__group {
  flex-direction: row;
}

.genres__header .form__wrapper {
  flex-direction: column;
}

.genres__header .radio__feild .MuiFormControlLabel-label {
  color: var(--txt-primary);
  font-family: "Ubuntu";
}
.genres__header .radio__feild .MuiRadio-root {
  color: var(--icon-inactive);
}

.genres__header .radio__feild .Mui-checked {
  color: var(--txt-active);
}
