.home__latest {
  display: flex;
  flex-direction: column;
}

.home__latest .latest__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.latest__header .header__title {
  flex: 1;
  color: var(--txt-secondary);
}

.latest__header .header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__latest .latest__body {
  display: flex;
  background: rgb(133, 133, 133);
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 3px 2px 12px -7px #333;
  overflow: hidden;
  margin-bottom: 15px;
}

.latest__body .body__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.latest__body .body__img .slide__item {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide__item .item__name {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  width: fit-content;
  font-family: "Ubuntu";
  background-color: rgba(0, 0, 0, 67%);
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
}
