@font-face {
  font-family: "GoldMan";
  src: url("./fonts/Goldman-Regular.ttf");
}

@font-face {
  font-family: "GoldMan-Bold";
  src: url("./fonts/Goldman-Bold.ttf");
}

@font-face {
  font-family: "Hanale";
  src: url("./fonts/HanaleiFill-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--txt-inactive);
}

img {
  width: 100%;
  height: 100%;
}

body {
  transition: all 0.5s ease-in;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.see__all {
  color: var(--txt-primary);
}

.see__all:hover {
  text-decoration: underline;
}

.mt-15 {
  margin-top: 15px;
}
