.movie__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0;
}

.movie__wrapper .wrapper__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.wrapper__header .header__left {
  flex: 1;
}

.wrapper__header .header__right {
  display: flex;
  flex-direction: row;
}

.wrapper__header .header__title {
  font-weight: bold;
  font-size: 2rem;
  font-family: "GoldMan";
  color: var(--txt-primary);
  text-transform: capitalize;
}

.wrapper__header .header__subTitle {
  font-size: x-small;
  font-family: "Ubuntu";
  color: var(--txt-secondary);
}

.movie__wrapper .wrapper__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 0.5fr));
  grid-gap: 0.8rem;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .movie__wrapper {
    padding: 25px 35px 0;
  }
  .movie__wrapper .wrapper__body {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
