.single__header {
  display: inherit;
  flex-direction: inherit;
  margin-bottom: 15px;
  align-items: center;
}

.single__header .header__movieTitle {
  font-family: "GoldMan";
  font-size: 2.5rem;
  color: var(--txt-primary);
}

.single__header .header__movieTag {
  font-size: x-small;
  font-family: "Ubuntu";
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--txt-secondary);
}

.single__header .header__movieDetails {
  margin-bottom: 15px;
  color: var(--txt-inactive);
  font-family: "Ubuntu";
  font-weight: bold;
}

.single__header .header__movieRating {
  font-family: "Ubuntu";
  color: var(--txt-primary);
  display: flex;
  align-items: center;
}

.header__movieRating .rating {
  margin-right: 10px;
}


@media screen and (min-width: 600px) {
  .single__header {
    align-items: flex-start;
  }
}
