.single {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.single > .single__header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 35px 0;
  margin: 0;
}

.single .single__wrapper {
  padding: 15px 25px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single__wrapper .single__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .single .single__wrapper {
    flex-direction: row;
    padding: 15px 35px 0;
  }

  .single__wrapper .single__details {
    align-items: flex-start;
    width: 60%;
    height: 600px;
    padding-bottom: 0;
  }
}
