.movie__item {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
}

.movie__item .item__img {
  width: 100px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 45px 24px 0px var(--shadow-color);
  transition: all 0.1s ease-in;
  z-index: 1;
}

.movie__item .item__img:hover {
  box-shadow: none;
}

.movie__item .item__details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  z-index: 2;
}

.movie__item .item__details .txt-primary {
  color: var(--txt-primary);
  font-weight: bold;
  margin-bottom: 5px;
}

.movie__item .item__details .txt-secondary {
  color: var(--txt-secondary);
  font-size: x-small;
  font-weight: bold;
  vertical-align: middle;
}

.movie__item .item__details .txt-secondary svg {
  color: var(--txt-secondary);
  font-size: x-small;
  font-weight: bold;
  margin-right: 2px;
}

@media screen and (min-width: 1024px) {
  .movie__item .item__img {
    width: 200px;
    height: 300px;
  }
}
