.cast {
  width: 100%;
}

.cast .cast__header {
  margin-bottom: 15px;
  font-family: "GoldMan";
  font-size: x-large;
  color: var(--txt-primary);
}

.cast .cast__items {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.cast__items .slider__arrowLeft,
.cast__items .slider__arrowRight {
  position: absolute;
  color: #333;
  z-index: 99;
}

.cast__items .slider__arrowLeft {
  left: -20px;
}

.cast__items .slider__arrowRight {
  right: -20px;
}

.cast .cast__item {
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 9px -1px var(--shadow-color);
}

.cast__slider {
  width: 100%;
}

.cast__slider .slick-list {
  padding: 15px;
}

.cast__slider .slick-slide {
  margin-right: 15px;
}

.cast .empty__cast {
  font-family: "Ubuntu";
  color: var(--txt-primary);
  display: flex;
  align-items: center;
}

.empty__cast .empty__txt {
  margin: 0 10px;
}

@media screen and (min-width: 600px) {
  .cast__items .slider__arrowLeft {
    left: -34px;
  }

  .cast__items .slider__arrowRight {
    right: -34px;
  }
}
