.genres {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.genres .genres__header {
  font-family: "GoldMan";
  font-size: x-large;
  margin-bottom: 15px;
  color: var(--txt-primary);
}

.genres .genres__body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.genres__body .genres__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  color: var(--txt-primary);
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 9px;
}

.genres__item .genres__icon {
  font-size: 1rem;
}

.genres__item .genres__txt {
  font-family: "Ubuntu";
}