.sidebar {
  width: 60vw;
  height: 100%;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in;
  transform: translateX(-100%);
  z-index: 9999;
}

.sidebar--open {
  transform: translateX(0);
}

.sidebar .sidebar__wrapper {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h1 {
  font-family: "Hanale";
  font-size: 1.5rem;
  color: var(--txt-primary);
}

.sidebar .sidebar__logo {
  width: 50%;
  height: 100px;
}

.sidebar .sidebar__logo img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .sidebar {
    width: 30vw;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 15vw;
    position: relative;
    transform: translateX(0);
  }
}
