.search__wrapper {
  display: flex;
  flex-direction: row;
}

.search__wrapper .icon__search {
  color: var(--icon-color);
}

.search__wrapper .input__search .MuiInputBase-input {
  color: var(--icon-color);
}

.search__wrapper .input__search .MuiInput-underline:before {
  border-color: var(--txt-primary);
}
