.synopsis {
  margin-bottom: 15px;
}

.synopsis .synopsis__header {
  font-family: "GoldMan";
  font-size: x-large;
  color: var(--txt-primary);
}

.synopsis .synopsis__body {
  font-family: "Ubuntu";
  color: var(--txt-secondary);
}
