.app__loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader__text {
  margin: 5px auto;
  color: var(--txt-secondary);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.loader__filmstrip {
  position: relative;
  width: 56px;
  height: 70px;
  background: var(--txt-active);
  z-index: 999999;
  overflow: hidden;
}

.loader__filmstrip:before,
.loader__filmstrip:after {
  content: "";
  position: absolute;
  height: 120%;
  border-left: 5px dashed #fff;
  animation: roll 20ms infinite;
}

.loader__filmstrip:before {
  left: 5px;
}

.loader__filmstrip:after {
  right: 5px;
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}
