.links {
  display: flex;
  flex-direction: row;
}

.link {
  margin-right: 15px !important;
  background-color: var(--bg-secondary) !important;
}

.link .MuiChip-label {
  font-family: "Ubuntu";
  font-weight: bold;
  color: var(--txt-primary);
}
